@import url(https://fonts.googleapis.com/css?family=Montserrat:500,700);
/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Nunito+Sans&display=swap');
/* Nunito sens font */


:root {
    --base-color-gray-light: #f5f5f5;
    --base-color-gray-light-1: #e9e9e9;
    --base-color-gray-light-2: #9e9e9e;
    --base-color-gray-light-3: #787878;

    --base-color-gray-1: #191919;
    --base-color-gray-2: #1d1d1d;
    --base-color-gray-3: #141414;


    --color-aqua: #10c9c3;
    --color-aqua-d: #09b1ab;

    --header-height: 88px;
    --mobile-nav-p-top: 58px;

}

/* Bootstrap modify */
@media (min-width: 1366px) {
    .container {
        max-width: 1270px;
    }
}

li {
    list-style-type: none;
}

/* Bootstrap modify - end */


/* Common styles */
.text-color-white{
    color: #fff !important;
}

.transition-1 {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

.bg-parallax {
    background-attachment: fixed;
}

.header-1 {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: var(--base-color-gray-2);
    padding-bottom: 40px;
}

.header-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--base-color-gray-2);
    padding-bottom: 40px;
}

@media (max-width: 1200px) {

    .header-1 {
        font-size: 32px;
    }
}

@media (max-width: 992px) {

    .header-1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {

    .header-1 {
        font-size: 28px;
    }
}

.text-style-1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--base-color-gray-2);
    padding-bottom: 40px;
}

.text-style-2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--base-color-gray-light-3);
    padding-bottom: 40px;
}

.text-style-3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--base-color-gray-light-3);
    padding-bottom: 40px;
}

.overflow-hidden-y {
    overflow-y: hidden;
}

a:hover {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    height: 54px;
    padding: 0 44px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn-rounded,
.btn-rounded:focus {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 34px !important;
    height: auto;
    outline: none;
}

.btn.btn-success {
    color: #fff;
    background-color: var(--color-aqua);
}

.btn.btn-success:hover {
    background-color: var(--color-aqua-d);
}

@media (max-width: 576px) {
    .overflow-hidden-y_max-screen-576 {
        overflow-y: hidden;
    }
}

.bg-color-cover {
    height: auto;
    width: 100%;
    position: relative;
}

.bg-color-cover::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-color: #fff;
    opacity: .4;
}

.bg-color-cover-dark::after {
    background-color: rgb(15, 15, 15) !important;
    opacity: .45;
}

.content-z-index{
    position: relative;
    z-index: 100;
}

/* Common styles - end */

/* Page Home */
.App-page-home, .App-page-aboute, .App-page-contact{
    background-color: var(--base-color-gray-light);
}


/* Page Home - end */

/* Header */
header.App-header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

header.App-header.scrolled {
    background-color: rgba(255, 255, 255, .9);
}

/* desktop nav */
nav.desktop-nav {
    float: right;
}

nav.desktop-nav ul>li {
    float: left;
}

nav.desktop-nav ul>li:not(:last-child) {
    margin-right: 28px;
}

nav.desktop-nav ul>li>a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--base-color-gray-1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav.desktop-nav ul>li>a:hover {
    text-decoration: none;
    color: var(--color-aqua-d);
}

nav.desktop-nav ul>li>a.current {

    color: var(--color-aqua);
}

@media (max-width: 992px) {
    .menu nav.desktop-nav {
        display: none;
    }
}

/* mobile nav */
nav.mobile-nav {
    display: none;
    min-width: 300px;
    background-color: var(--color-aqua);
    position: absolute;
    right: 0;
    top: var(--mobile-nav-p-top);
}

@media (max-width: 576px) {
    .App-header>.container {
        margin-left: 0;
        margin-right: 0;
    }

    .App-header>.container>.row {
        display: block;
    }

    .logo {
        display: block;
        position: absolute;
        left: 0;
        top: auto;
    }

    .logo>a {
        display: inline-block;
    }

    .logo>a>img {
        vertical-align: top;
    }

    .menu {
        display: block;
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    nav.mobile-nav {
        min-width: 100%;
    }
}

nav.mobile-nav.arrow-top:before,
nav.mobile-nav.arrow-top::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: -14px;
    right: 0;
    margin-right: 15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--color-aqua);
}

nav.mobile-nav.arrow-top.bg-current:before,
nav.mobile-nav.arrow-top.bg-current::before {
    border-bottom-color: var(--color-aqua-d);
}

@media (min-width: 992px) {
    nav.mobile-nav {
        display: none !important;
    }
}

nav.mobile-nav>ul {
    margin-bottom: 0;
    padding-left: 0;
}

nav.mobile-nav>ul>li a.current {
    background-color: var(--color-aqua-d);
}
nav.mobile-nav a {
    color: white !important;
}
nav.mobile-nav>ul>li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav.mobile-nav>ul>li a:not(.current):hover {
    color: var(--base-color-gray-2);
}

/*menu icon*/
.App-header .menu-icon {
    float: right;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .App-header .menu-icon {
        display: block;
    }
}

@media (max-width: 576px) {

    .App-header .menu-icon {
        position: absolute;
        right: 0;
        top: auto;
        margin-right: 15px;
    }
}

.App-header .menu-icon .line {
    height: 1px;
    width: 30px;
    background-color: #60606e;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.App-header .menu-icon .line:nth-child(2) {
    margin: 7px 0;
    width: 15px;
}

.App-header .menu-icon .line:last-child {
    width: 20px;
}

.App-header .menu-icon.opened .line {
    width: 30px;
}

.App-header .menu-icon:not(.opened):hover .line {
    width: 30px;
}

/* Header - end */

/* First screen */
.App-first-screen {
    z-index: 1;
    padding: 200px 0;
}

.first-screen__body {
    position: relative;
    margin-left: -30px;
    z-index: 30;

}

@media (max-width: 1200px) {

    .first-screen__body {
        margin-left: 0 !important;
    }
}

/* custom media for better view headung */
@media (max-width: 1400px) {

    .first-screen__body .header-1 {
        font-size: 32px;
    }
}

/* First screen - end */

/* About */
.info-block {
    padding: 100px 0;
}

.info-block__body {
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;
}

@media (max-width: 768px) {
    .info-block__body {
        margin-left: 0;
        margin-right: 0;
    }
}

.App-about {
    padding: 188px 0 100px;
}

/* About - end */

/* Scills - end */
.App-scills {
    padding: 120px 0;
    position: relative;
}

.App-scills__body {
    position: relative;
    z-index: 30;
}

.App-scills__persent {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 50px;
    color: var(--base-color-gray-2);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    border-bottom: 3px solid var(--base-color-gray-light-2);
    /* overflow: hidden; */
}

.App-scills__persent:not(:last-child) {
    margin-bottom: 18px;
}

.App-scills__persent::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -3px;
    /* margin-left: -100%; */
    height: 3px;
    width: 100%;
    background-color: var(--color-aqua);
}

.App-scills__persent-75::after {
    width: 75%;
}

.App-scills__persent-90::after {
    width: 90%;
}

.App-scills__persent-65::after {
    width: 65%;
}

.App-scills__persent span:first-child {
    margin-right: 20px;
}

/* Scills - end */

/* Summory  */
.App-scills-summory {
    padding: 100px 0;
    position: relative;
    background-color: var(--color-aqua);
}

.App-scills-summory__body {
    display: flex;
    align-items: center;
    color: #fff;
}

.App-scills-summory_icon {
    font-size: 48px;
    margin-right: 26px;
}

.App-scills-summory_info {
    display: flex;
    height: 48px;
    flex-direction: column;
}

.App-scills-summory_number {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}

.App-scills-summory_title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .App-scills-summory__body {
        justify-content: center;
    }

    .App-scills-summory__body div:not(:last-child) {
        margin-bottom: 20px;
    }

}

/* Summory - end */

/* Scills gallery */
.App-scills-gallery__body {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
}

.App-scills-gallery__item {
    width: 25%;
    height: 25vw;
    z-index: 32;
    position: relative;
}

.App-scills-gallery__item:hover {
    cursor: pointer;
}

.App-scills-gallery__item>.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 33;
}

.App-scills-gallery__item:hover>.overlay {
    background-color: rgba(120, 120, 120, .4) !important;
}

.App-scills-gallery__item img {
    position: relative;
}

.App-scills-gallery__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    transform: translateY(-10%);
    font-size: 100px;
    font-weight: bold;
    color: transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 34;
}

.App-scills-gallery__item:hover>.App-scills-gallery__icon {
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
}

@media (max-width: 992px) {
    .App-scills-gallery__body {
        justify-content: left;
    }

    .App-scills-gallery__item {
        width: 33.333%;
        height: 33.333vw;
    }
}

@media (max-width: 768px) {
    .App-scills-gallery__item {
        /* flex-basis: 25%; */
        width: 50%;
        height: 50vw;
    }

}

.App-scills-gallery__item>img {

    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}


.App-scills-gallery__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color-gray-light);
    margin: 0 -15px;
    height: 98px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gallery-btn {
    color: #919191;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: .2px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.App-scills-gallery__button:hover {
    background-color: #cecece;
    cursor: pointer;
}

.gallery-btn:hover {
    color: #919191;

}

/* alert  */
.ohy {
    overflow-y: hidden;
}

.alert-overlay {
    display: block;
    position: fixed;
    background-color: rgba(29, 29, 29, 0);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.alert-overlay__active {
    z-index: 8888;
    background-color: rgba(29, 29, 29, .8);
    overflow-x: hidden;
    overflow-y: auto;
}

.alert-bg-close {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.alert {
    display: block;
    position: relative;
    margin: -100% 10% 0;
    width: 80%;
    height: auto;
    z-index: 9999;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;


    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.alert__active {
    margin-top: 40px !important;
    padding-bottom: 100px;
}

@media (max-width: 992px) {
    .alert__active {
        margin: 20px 3% 0 !important;
        width: 94%;
        padding-bottom: 80px;
    }
}

.alert__body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.alert__icon {
    height: 60px;
    width: 60px;
    position: relative;
    align-self: flex-end;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.alert__icon:hover::after,
.alert__icon:hover::before {
    background-color: var(--color-aqua);
}

.alert__icon::after,
.alert__icon::before {
    display: block;
    content: '';
    height: 2px;
    background-color: #fff;
    width: 60px;
    position: absolute;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.alert__icon::after {
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);

}

.alert__icon::before {
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(-45deg);
}

.alert__image {
    display: block;
    /* border: border-box; */
    border: 2px solid #fff;
}

.alert__image>img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

/* Scills gallery - end */

/* Process */
/* player */
.App-process__video {
    position: relative;
    background-color: #1d1d1d;
    z-index: 110;
}

.App-process__video-cover {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    width: 100%;
    height: 88%;
    margin-bottom: 50px;
    z-index: 110;
}

.App-process__video-btn-play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    cursor: auto;
}

.App-process__video:hover>.App-process__video-btn-play_start {
    background-color: rgba(2, 128, 123, .5);
}

.started .App-process__video-btn-play_pause {
    opacity: 0;
}

.started:hover .App-process__video-btn-play_pause {
    opacity: 1;
}

/* @media (hover: none) {
    .App-process__video-btn-play_pause{
        opacity:0;
    }
} */
.btn-state-over {
    z-index: 100;
    opacity: 1;
}

.opst {
    -webkit-animation: mymove 5s linear;
    /* Chrome, Safari, Opera */
    animation: mymove 3s linear;
    opacity: 0 !important;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mymove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* pe-7s-play */
.App-icon-start {
    font-size: 30px;
    color: #fff;
}

/* custom icon */
.App-icon-pouse {
    position: relative;
    width: 30px;
    height: 30px;
}

.App-icon-pouse::before,
.App-icon-pouse::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    top: 5px;
    background-color: #fff;
}

.App-icon-pouse::before {
    left: 5px;
}

.App-icon-pouse::after {
    right: 5px;
}

.App-process__video:hover .App-process__video-btn-play_hide {
    opacity: 1;
}

.App-process__video-btn-play_hide {
    opacity: 0;
}

.App-process__video-player {
    position: relative;
    width: 100%;
    height: 570px;
    z-index: 99;
}

@media (max-width: 992px) {
    .App-process__video-player {
        height: 500px;
    }
}

/* Process - end */


/* Clients */
.App-clients {
    padding: 70px 0 70px 0;
    position: relative;
}

.App-clients_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .App-clients_items {
        column-gap: 4%;
    }

    .App-clients_item>img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .App-clients_items {
        flex-direction: column;
        row-gap: 20px;
    }
}

.App-clients_item {
    opacity: .5;
}

/* Clients - end */

/* Map */
.App-contact__map{
    padding-top: 100px;
}

.App-contact__map #map{
    background-color: #191919;
    height: 700px;
}


/* Map - end*/

/* Contact */
.App-contact {
    padding: 188px 0 100px;
    position: relative;
    background-color: var(--base-color-gray-light);
   
}

.App-contact__header,
.App-contact__text {
    text-align: left;
    padding-bottom: 20px;
}

.App-contact__text strong{
    color: #141414;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
}

.App-contact__form {
    padding-top: 12px;
}

@media (max-width: 768px) {
    .App-contact__form {
        margin-left: 0;
        margin-right: 0;
    }
}

.App-contact__form>form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
}

.App-contact__form>form>input,
.App-contact__form>form>textarea {
    border: 1px solid transparent;
    padding: 10px 15px;
    border-radius: 0 !important;
}

.App-contact__form>form>input:optional,
.App-contact__form>form>textarea:optional {
    border-color: transparent;
}

.form-error:focus:invalid {
    border-color: red;
}

/* .App-contact__form > form > input:required:invalid, .App-contact__form > form > textarea:required:invalid{
    border-color: red;
} */
.App-contact__form>form>input:focus,
.App-contact__form>form>textarea:focus {
    outline: none;
    border-radius: 0 !important;
    border-color: #09b1ab;
}

/* input:invalid {
    border-color: red;
} */

#form-name {
    flex: 1 1 auto;
}

#form-email {
    flex: 1 1 auto;
}

#form-title {
    flex: 1 1 100%;
}

#form-comment {
    flex: 1 1 100%;
}

.form-btn {
    border: 0;
}

.form-btn:focus {
    outline: none;
}

/* Contact - end */

/* Footer */
.App-footer {
    padding: 100px 0;
    position: relative;
    background-color: var(--base-color-gray-3);
}

.App-footer * {
    color: var(--base-color-gray-light-2);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.App-footer a {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.App-footer a:hover {
    color: var(--base-color-gray-light-1);
}

.App-footer p {
    /* line-height: 12px; */
    margin-bottom: 2px;
}

.App-footer__rights_header {
    padding-bottom: 20px;
}

.App-footer__rights_header span {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--base-color-gray-light);
}

.App-footer__contacts_phone {
    font-size: 16px;
}

.App-footer__menu {
    display: flex;
    column-gap: 54px;
}

.App-footer__contacts,
.App-footer__menu,
.App-footer__socials {
    margin-left: -30px;
}

.App-footer__rights_content p:last-child {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

@media (max-width: 992px) {

    .App-footer__contacts,
    .App-footer__menu,
    .App-footer__socials {
        margin-left: 0;
    }

    .App-footer__col-1,
    .App-footer__col-2,
    .App-footer__col-3,
    .App-footer__col-4 {
        margin-bottom: 35px;
    }

    .App-footer__col-1 {
        order: 4;
        margin-bottom: 0;
    }

    .App-footer__col-2 {
        order: 3;
    }

    .App-footer__col-3 {
        order: 1;
    }

    .App-footer__col-4 {
        order: 2;
        margin-bottom: 80px;
    }

    .App-footer__rights,
    .App-footer__contacts {
        text-align: center;
    }

    .App-footer__menu {
        display: flex;
        column-gap: 0;
        justify-content: space-evenly;

    }

    .App-footer__socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .App-footer__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Footer - end */